.div.container
  %h1 List of Transactions

  %table.table.table-dark
    %thead
      %tr
        %th User
        %th Transaction Date
        %th Amount
        %th Category
        %th Transaction Type
        %th
        %th

    %tbody
      - @transaction_entries.each do |transaction_entry|
        %tr
          %td= transaction_entry.user.name
          %td= transaction_entry.transaction_date
          %td= transaction_entry.amount
          %td= transaction_entry.category.name
          %td= transaction_entry.transaction_type.capitalize
          %td= link_to 'Show', transaction_entry, class: 'btn btn-primary'
          %td= link_to 'Destroy', transaction_entry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

  %br

  = link_to 'New Transaction', new_transaction_entry_path, class: 'btn btn-primary'
