%p#notice= notice

.div.container.ml-1
  %h1 Transaction Information
  %b User:
  = @transaction_entry.user.name
  %br
  %b Transaction type:
  = @transaction_entry.transaction_type
  %br
  %b Amount:
  = @transaction_entry.amount
  %br
  %b Category:
  = @transaction_entry.category.name
  %br
  %b Transaction date:
  = @transaction_entry.transaction_date
  %br
  %br
  = link_to 'Edit', edit_transaction_entry_path(@transaction_entry), class: 'btn btn-primary'
  = link_to 'Back', transaction_entries_path, class: 'btn btn-primary'
