%p#notice= notice

%p
  %b User:
  = @transaction_entry.user.name
%p
  %b Transaction type:
  = @transaction_entry.transaction_type
%p
  %b Amount:
  = @transaction_entry.amount
%p
  %b Category:
  = @transaction_entry.category.name
%p
  %b Transaction date:
  = @transaction_entry.transaction_date

= link_to 'Edit', edit_transaction_entry_path(@transaction_entry)
\|
= link_to 'Back', transaction_entries_path
