<!DOCTYPE html>
<html>
  <head>
    <title>BudgetTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Budget Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%=link_to "Users", users_path, class: "nav-link"%>
          </li>


          <li class="nav-item">
            <%=link_to "Categories", categories_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%=link_to "Transactions", transaction_entries_path, class: "nav-link"%>
          </li>
        </ul>
      </div>
    </nav>
    <div id="main-content" class="row full-min-height">
      <%= yield %>
    </div>
    <%= javascript_include_tag "daterangepicker_initializer.js" %>
  </body>
</html>
